/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: "Mallory";
  src: url("../fonts/Mallory-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mallory";
  src: url("../fonts/Mallory-Lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Mallory";
  src: url("../fonts/Mallory-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "YaleNew";
  src: url("../fonts/yalenew-roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "YaleNew";
  src: url("../fonts/YaleNew-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/******************** COLORS ********************/
/******************** FONTS ********************/
/******************** SPACING ********************/
/******************** CALENDAR ********************/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
body {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  color: #000;
}
body h1, body h2, body h3, body h4, body h5, body h6, body h6 {
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  color: #00356b;
}
body img {
  width: 100%;
}
body .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 70px;
}
.navigation .logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navigation .logo img {
  height: 40px;
  width: auto;
  padding-right: 10px;
}
.navigation .logo .logo-text {
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  font-size: 24px;
  color: #00356b;
  text-decoration: none;
}
.navigation .logo:hover .logo-text {
  text-decoration: none;
  color: #286dc0;
}
.navigation .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .nav-links .link-box .main-link {
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  font-size: 18px;
  color: #00356b;
  padding: 40px 14px;
  text-decoration: none;
}
.navigation .nav-links .link-box .main-link:hover {
  color: #286dc0;
}
.navigation .nav-links .link-box:hover .dropdown {
  display: block;
}
.navigation .nav-links .link-box .dropdown {
  display: none;
  font-size: 14px;
  margin-top: 20px;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navigation .nav-links .link-box .dropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.navigation .nav-links .link-box .dropdown a:hover {
  color: #00356b;
  background-color: #f6f6f6;
}
.navigation .nav-links .link-box .dropdown a:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  border: 2px solid #00356b;
  top: 0;
  left: 0;
}
.navigation .nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation .nav-right .btn {
  font-size: 13px;
}
.navigation .nav-right .right-link {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 1.25px;
  letter-spacing: 0.75px;
  color: #286dc0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
  font-size: 14px;
}
.navigation .nav-right .right-link:hover {
  border-bottom: 1px solid #286dc0;
}
.navigation .nav-right .right-btn {
  margin-left: 25px;
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
body .btn {
  border-radius: 0;
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 1.25px;
  letter-spacing: 0.75px;
  font-size: 0.875rem;
  transition: 0.25s;
}
body .btn-primary {
  color: #fff;
  background-color: #00356b;
  border: 1px solid transparent;
  padding: 15px;
}
body .btn-primary:hover {
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #ddd;
}
body .btn-blue {
  color: #fff;
  background-color: #00356b;
  border: 1px solid transparent;
  padding: 15px;
}
body .btn-blue:hover {
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #ddd;
}
body .btn-blue-hover {
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #ddd;
}
body .btn-grey {
  color: #fff;
  background-color: #4a4a4a;
  border: 1px solid transparent;
  padding: 15px;
}
body .btn-grey:hover {
  color: #00356b;
  background-color: #fff;
  border: 1px solid #4a4a4a;
}
body .btn-white-borders {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px;
}
body .btn-white-borders:hover {
  color: #00356b;
  background-color: #fff;
  border: 1px solid #286dc0;
}
body .btn-grey-borders {
  color: #00356b;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
}
body .btn-grey-borders:hover {
  color: #fff;
  background-color: #00356b;
  border: 1px solid transparent;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.jumbotron {
  margin-bottom: 0;
  height: 550px;
  background-image: url("../images/cover.jpg");
  object-fit: cover;
  padding: 0;
}
.jumbotron .overlay {
  background-color: rgba(255, 255, 255, 0.75);
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron .overlay .container {
  text-align: center;
}
.jumbotron .overlay .container h1 {
  margin-top: 0;
  font-size: 80px;
}

.showcase {
  padding-top: 70px;
  padding-bottom: 70px;
}
.showcase h2 {
  margin-bottom: 40px;
}
.showcase .showcase-holder {
  display: flex;
  overflow: hidden;
}
.showcase .showcase-holder .student {
  display: flex;
  width: 520px;
  margin-right: 70px;
  flex-shrink: 0;
}
.showcase .showcase-holder .student .thumbnail {
  padding-right: 15px;
}
.showcase .showcase-holder .student .thumbnail img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.showcase .showcase-holder .student .details h4 {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 1.25px;
  letter-spacing: 0.75px;
  color: #7e7e7e;
  font-size: 12px;
}
.showcase .showcase-holder .student .details h3 {
  font-size: 26px;
}
.showcase .showcase-holder .student .details h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.showcase .showcase-holder .student .details h3:after {
  background-color: #ddd;
}
.showcase .showcase-holder .student .details p {
  font-size: 14px;
}

.programs {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #00356b;
}
.programs h2 {
  color: #fff;
  margin-bottom: 40px;
}
.programs .program {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s;
}
.programs .program:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.programs .program:nth-child(1) {
  background-image: url("../images/graphics.jpg");
}
.programs .program:nth-child(2) {
  background-image: url("../images/painting.jpg");
}
.programs .program:nth-child(3) {
  background-image: url("../images/photography.jpg");
}
.programs .program:nth-child(4) {
  background-image: url("../images/sculpture.jpg");
}

.events {
  padding-top: 70px;
  padding-bottom: 70px;
}
.events h2 {
  margin-bottom: 40px;
}
.events .event {
  display: flex;
  color: #fff;
  padding: 0;
}
.events .event:nth-of-type(1) {
  margin-bottom: 15px;
  padding-right: 10px;
}
.events .event:nth-of-type(2) {
  margin-bottom: 15px;
  padding-left: 10px;
}
.events .event:nth-of-type(3) {
  padding-right: 10px;
}
.events .event:nth-of-type(4) {
  padding-left: 10px;
}
.events .event .event-image {
  height: 100%;
}
.events .event .event-image img {
  height: 100%;
  width: 260px;
  object-fit: cover;
}
.events .event .event-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00356b;
}
.events .event .event-text .event-time {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.75px;
}
.events .event .event-text .event-time .date {
  font-weight: 600;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}
.events .event .event-text h3 {
  color: #fff;
}
.events .event .event-text h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.events .event .event-text h3:after {
  background-color: #36608A;
}
.events .event .event-text p {
  font-size: 13px;
}
.events .event .event-text .btn {
  font-size: 14px;
  float: right;
}

.news {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ddd;
}
.news h2 {
  margin-bottom: 40px;
}
.news .article {
  padding-left: 0;
  padding-right: 0;
}
.news .article:nth-of-type(1) {
  padding-right: 7px;
}
.news .article:nth-of-type(2) {
  padding-left: 7px;
  padding-right: 7px;
}
.news .article:nth-of-type(3) {
  padding-left: 7px;
}
.news .article .article-content {
  background-color: #fff;
  padding: 20px;
  height: 100%;
}
.news .article .article-content .article-date {
  font-weight: 600;
  color: #646464;
  font-size: 13px;
  letter-spacing: 0.75px;
  margin-bottom: 0.5rem;
}
.news .article .article-content h3 {
  font-size: 22px;
}
.news .article .article-content h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.news .article .article-content h3:after {
  background-color: #ddd;
}
.news .article .article-content .article-info {
  font-size: 13px;
  color: #646464;
}
.news .article .article-content .btn {
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login {
  background-color: #ddd;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-box {
  background-color: #fff;
  width: 500px;
  padding: 25px;
}
.login .login-box h1 {
  margin-top: 0;
}
.login .login-box .btn {
  float: right;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.student-work {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
.student-work .heading {
  position: relative;
}
.student-work .heading h1 {
  margin-top: 0;
  margin-bottom: 40px;
}
.student-work .heading a {
  position: absolute;
  top: 0;
  right: 15px;
}
.student-work .student {
  display: flex;
  margin-bottom: 20px;
}
.student-work .student:last-of-type {
  margin-bottom: 0;
}
.student-work .student .thumbnail img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.student-work .student .details {
  padding: 20px;
  background-color: #fff;
}
.student-work .student .details h4 {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 1.25px;
  letter-spacing: 0.75px;
  color: #7e7e7e;
  font-size: 12px;
}
.student-work .student .details h3 {
  font-size: 26px;
}
.student-work .student .details h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.student-work .student .details h3:after {
  background-color: #ddd;
}
.student-work .student .details p {
  font-size: 14px;
}
.student-work .student .details a {
  float: right;
}

.upload-page {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
.upload-page h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.calendar-page {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
.calendar-page .heading {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.calendar-page .heading h1, .calendar-page .heading h3 {
  margin: 0;
}
.calendar-page .heading h1 {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.calendar-page .heading h3 {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #4a4a4a;
  font-size: 1.5rem;
  padding-right: 10px;
}
.calendar-page .heading .btn-arrow {
  color: #00356b;
  font-size: 17px;
}
.calendar-page .heading .btn-arrow:hover {
  color: #ddd;
}
.calendar-page .heading .submit {
  margin-left: auto;
}
.calendar-page .calendar .cal-row {
  display: flex;
}
.calendar-page .calendar .cal-row .cal-day {
  height: 150px;
  width: 14.2857142857%;
  border: 1px solid #ececec;
  padding: 7px;
  background-color: #fff;
  position: relative;
  transition: 0.1s;
}
.calendar-page .calendar .cal-row .cal-day:hover {
  background-color: #f6f6f6;
}
.calendar-page .calendar .cal-row .cal-day .day-number {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  right: 7px;
  margin-bottom: 0;
  color: #00356b;
  font-size: 12px;
}
.calendar-page .calendar .cal-row .cal-day .event {
  background-color: #00356b;
  padding: 5px;
  margin-bottom: 5px;
}
.calendar-page .calendar .cal-row .cal-day .event:first-of-type {
  margin-top: 20px;
}
.calendar-page .calendar .cal-row .cal-day .event p {
  font-size: 12px;
  color: #fff;
  background-color: #00356b;
  margin-bottom: 0;
}
.calendar-page .calendar .cal-row .day-passed {
  background-color: #f9f9f9;
}
.calendar-page .calendar .cal-row .day-passed .day-number {
  color: #7e7e7e;
}
.calendar-page .calendar .cal-row .top {
  border-top: 2px solid #ececec;
}
.calendar-page .calendar .cal-row .bottom {
  border-bottom: 2px solid #ececec;
}
.calendar-page .calendar .cal-row .right {
  border-right: 2px solid #ececec;
}
.calendar-page .calendar .cal-row .left {
  border-left: 2px solid #ececec;
}
.calendar-page .calendar .cal-row .day-current {
  border: 1px solid #ececec;
  background-color: #EBEBEB;
  border-color: #d6d6d6;
  z-index: 999;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: #222222;
}
footer .container-fluid {
  display: flex;
}
footer .footer-top {
  padding-top: 40px;
}
footer .footer-top .footer-info {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 60px;
  margin-right: 60px;
}
footer .footer-top .footer-info h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 25px;
}
footer .footer-top .footer-info .address {
  margin-bottom: 25px;
}
footer .footer-top .footer-info .address p {
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  color: #7e7e7e;
  margin-bottom: 0;
  font-size: 14px;
}
footer .footer-top .footer-info .social {
  display: flex;
}
footer .footer-top .footer-info .social a {
  font-size: 18px;
  transition: 0.25s;
  background-color: #286dc0;
  color: #fff;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  margin-right: 5px;
}
footer .footer-top .footer-info .social a:hover {
  background-color: #00356b;
}
footer .footer-top .footer-links {
  flex-grow: 1;
  display: flex;
  width: auto;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer .footer-top .footer-links div h4 {
  font-family: Mallory, "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 1.25px;
  letter-spacing: 0.75px;
  font-size: 16px;
}
footer .footer-top .footer-links div h4 a {
  color: #63aaff;
  text-decoration: none;
}
footer .footer-top .footer-links div h4 a:hover {
  color: #286dc0;
}
footer .footer-top .footer-links div ul {
  list-style-type: none;
}
footer .footer-top .footer-links div ul li a {
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
}
footer .footer-top .footer-links div ul li a:hover {
  color: #63aaff;
}
footer .copyright {
  text-align: center;
  color: #ddd;
  margin-bottom: 0;
  padding: 15px 0;
}
footer .copyright p {
  margin-bottom: 0;
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  letter-spacing: 0.5px;
  color: #7e7e7e;
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */
