.login {
    background-color: $grey-light;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-box {
        background-color: $white;
        width : 500px;
        padding: 25px;

        h1 {
            margin-top: 0;
        }

        .btn {
            float: right;
        }
    }
}