.student-work {
    @include vert-pad-lg;
    background-color: $grey-white;

    .heading {
        position: relative;

        h1 {
            margin-top: 0;
            margin-bottom: $h2-margin;
        }

        a {
            position: absolute;
            top: 0;
            right: 15px;
        }
    }

    .student {
        display: flex;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }


        .thumbnail {
            img {
                height: 250px;
                width: 250px;
                object-fit: cover;
            }
        }
        .details {
            padding: 20px;
            background-color: $white;

            h4 {
                @include mallory-caps;
                color: $grey-medium;
                font-size: 12px;
            }
            h3 {
                font-size: 26px;
                @include divider;
            }
            p {
                font-size: 14px;
            }
            a {
                float: right;
            }
        }

    }
}

.upload-page {
    @include vert-pad-lg;
    background-color: $grey-white;

    h1 {
        margin-top: 0;
        margin-bottom: $h2-margin;
    }
}

.calendar-page {
    @include vert-pad-lg;
    background-color: $grey-white;


    .heading {
        display: flex;
        align-items: center;
        padding-bottom: 30px;

        h1, h3 {
            margin: 0;
        }

        h1 {
            padding-right: 20px;
            margin-right: 20px;
            border-right: 2px solid rgba(0, 0, 0, 0.1);
        }

        h3 {
            @include mallory-light;
            color: $grey-dark;
            font-size: 1.5rem;
            padding-right: 10px;
        }

        .btn-arrow {
            color: $blue-dark;
            font-size: 17px;

            &:hover {
                color: $grey-light;
            }
        }

        .submit {
            margin-left: auto;
        }
    }

    .calendar {
        .cal-row {
            display: flex;


            .cal-day {
                height: 150px;
                width: 14.28571428571429%;
                border: $cal-border;
                padding: 7px;
                background-color: $white;
                position: relative;
                transition: 0.1s;

                &:hover {
                    background-color: $grey-white;
                }

                .day-number {
                    @include mallory-medium;
                    position: absolute;
                    right: 7px;
                    margin-bottom: 0;
                    color: $blue-dark;
                    font-size: 12px;
                }

                .event {
                    background-color: $blue-dark;
                    padding: 5px;
                    margin-bottom: 5px;

                    &:first-of-type {
                        margin-top: 20px;
                    }

                    p {
                        font-size: 12px;
                        color: $white;
                        background-color: $blue-dark;
                        margin-bottom: 0;
                    }
                }

            }
            .day-passed {
                background-color: #f9f9f9;
                .day-number {
                    color: $grey-medium;
                }
            }


            .top {
                border-top: $cal-border-outside;
            }
            .bottom{
                border-bottom: $cal-border-outside;
            }
            .right {
                border-right: $cal-border-outside;
            }
            .left {
                border-left: $cal-border-outside;
            }

            .day-current {
                border: $cal-border;
                background-color: #EBEBEB;
                border-color: #d6d6d6;
                z-index: 1;
                transform: scale(1.1);
            }
        }
    }
}

.programs-page {
    @include vert-pad-lg;
    background-color: $grey-white;

    .heading {
        h1 {
            margin-top: 0;
            margin-bottom: $h2-margin;
        }

        .program-links {
            a {
                @include caps-link;
                margin-right: 30px;
            }
        }
    }

    .image-header {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            @include mallory-caps;
            font-weight: 400;
            font-size: 1.3rem;
            padding: 20px;
            background-color: $grey-dark;
            color: $white;
            margin-bottom: 0;
        }
    }
    .graphic {
        background-image: url("../images/graphics-large.jpg");
    }
    .painting {
        background-image: url("../images/painting-large.jpg");
    }
    .photography {
        background-image: url("../images/photography-large.jpg");
    }
    .sculpture {
        background-image: url("../images/sculpture-large.jpg");
    }


    .program {

        h3 {

        }
        h4 {
            @include mallory-light;
            color: $grey-dark;
            font-size: 1.2rem;
        }
        .details {
            display: flex;
            color: $grey-medium;

            p {
                &:first-of-type {
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid $grey-light;
                }
            }
        }
        .description {
            font-size: 0.9rem;
        }
        .links {
            display: flex;
            justify-content: flex-end;

            .btn {
                margin-left: 10px;
            }
        }
    }


}

.courses-page {

    .heading-bar {
        background-color: $grey-white;
        padding-top: 60px;
        padding-bottom: 60px;

        .heading {
            h1 {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
    }

    .courses-list {
        @include vert-pad-lg;
        .course {
            display: flex;
            align-items: center;
            transition: 0.25s;
            padding-top: 15px;
            padding-bottom: 15px;
            cursor: pointer;

            &:hover {
                background-color: $grey-white;
            }

            .heading {
                width: 400px;
                padding-right: 40px;
                margin-right: 40px;
                border-right: 1px solid $grey-light;

                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 6px;

                    a {
                        color: $blue-dark;
                        transition: 0.25s;

                        &:hover {
                            color: $blue-medium;
                            text-decoration: none;
                        }
                    }
                }
                h4 {
                    @include mallory-caps;
                    font-size: 1.1rem;
                    color: $grey-dark;
                    margin-bottom: 3px;
                }
                h5 {
                    @include mallory-light;
                    font-size: 1rem;
                    color: $grey-dark;
                }
            }

            .details {
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-grow: 1;

                h4 {
                    @include mallory-caps;
                    font-size: 0.9rem;
                }
                p {
                    margin-bottom: 0;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.course-page {
    @include vert-pad-lg;
    background-color: $grey-white;
    height: 70vh;

    .heading {
        position: relative;

        .btn {
            position: absolute;
            right: 0;
        }

        h1 {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 0;
            @include divider;
            &:after {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        .title-details {
            display: flex;

            h2 {
                @include mallory-caps;
                font-size: 1.3rem;

                &:first-of-type {
                    margin-right: 15px;
                    padding-right: 15px;
                    border-right: 1px solid $grey-light;
                }
            }
        }

        h3, h4 {
            color: $grey-dark;
        }
        h3 {
            @include mallory-medium;
            font-size: 1.2rem;
        }
        h4 {
            @include mallory-light;
            font-size: 1rem;
        }



    }

    .description {
        p {
            color: $grey-dark;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    .details {
        display: flex;
        justify-content: space-between;


        h4 {
            @include mallory-caps;
            font-size: 1.2rem;
        }

        p {
            color: $grey-dark;
        }
    }
}