/******************** COLORS ********************/
$white: #fff;
$black: #000;



/******************** FONTS ********************/



/******************** SPACING ********************/
$section-pad: 3em;
$section-pad-xs: 3.5em;
$section-pad-sm: 4em;
$section-pad-md: 4.5em;
$section-pad-lg: 5em;